- @title = "jonathanpberger | Bio" |
.bio
  %h1 Bio

  <img src="images/jpb.png">
  
  :markdown

    Jonathan Berger is a designer, developer and technologist who has been active in the NYC technology scene since around 2005, helping to organize events like the [Agile Experience Design Meetup](http://www.meetup.com/Agile-Experience-Design/), the [Pivotal Labs Tech Talk series in NY](http://www.meetup.com/PivotalNY-Tech-Talks/), [Startup Weekend](http://nyc.startupweekend.org/), [Barcamp](http://barcampnyc.org), [Fashioncamp](http://web.archive.org/web/20100604014246/http://www.fashioncamp.org/), and [IgniteNYC](http://www.ignitenyc.org). He spends his days building software with [Pivotal Labs](http://pivotallabs.com) and his nights and weekends working on [Market Publique](http://shop.marketpublique.com). Prior to that, he earned a Bachelors in Philosophy at Vassar College and a Masters in [Media Studies at the New School](http://www.newschool.edu/media-studies)(where he also spent quite a bit of time at [Parson's Design + Technology program](http://www.newschool.edu/parsons/mfa-design-technology)). He has worked as a designer, developer, video editor, animator, and technology consultant for institutions as diverse as Eyebeam, MTV Networks, Yahoo!, Ogilvy, and the American Museum of Natural History.
  
    He speaks about startups and technology at events like [LeanUX NYC](http://leanuxnyc.co/nyc/), [Agile UX NYC](http://agileuxnyc.com/), [Agile 2013](http://agile2013.agilealliance.org/), [Future of Web Design](http://futureofwebdesign.com/new-york-2011/speakers/#jonathanpberger"), [O'Reilly's Web 2.0 Expo](http://www.web2expo.com/webexny2010/public/schedule/speaker/72236), [New York Tech Meetup](http://www.meetup.com/ny-tech/events/12976148/), [Fashion 2.0 Startup Showcase](http://www.meetup.com/fashion20/events/12126247/), [Startup Weekend](http://nyc.startupweekend.org/2010/09/15/wrap-up/), North Brooklyn Breakfast Club, The Product Group, and others.
  
    He makes it a point of honor to include Comic Sans in every design project.

    *Find him on [twitter](http://twitter.com/jonathanpberger), [github](https://github.com/jonathanpberger), [flickr](http://flickr.com/photos/jonathanpberger), etc. as @jonathanpberger*.

  %p <a href="/">« Back</a>
