- @title = "jonathanpberger | Bio" |
.bio
  %h1 Bio

  <img src="images/jpb.png">

  %p Jonathan Berger is a designer, developer and technologist who's been active in the NYC technology scene since around 2005, helping to organize events like the <a href="http://www.meetup.com/Agile-Experience-Design/">Agile Experience Design Meetup</a>, <a href="http://nyc.startupweekend.org/">Startup Weekend</a>, <a href="http://barcampnyc.org/">Barcamp</a>, <a href="http://www.fashioncamp.org/">Fashioncamp</a>, and <a href="http://www.ignitenyc.org/">IgniteNYC</a>. He spends his days building software with <a href="http://pivotallabs.com/">Pivotal Labs</a> and his nights and weekends working on <a href="http://shop.marketpublique.com/">Market Publique</a>. Prior to that, he earned a Bachelors in Philosophy at Vassar College and a Masters in <a href="http://www.newschool.edu/media-studies/">Media Studies at the New School</a> (where he also spent quite a bit of time at <a href="http://www.newschool.edu/parsons/mfa-design-technology/">Parson's Design + Technology program</a>). He has worked as a designer, developer, video editor, animator, and technology consultant for institutions as diverse as Eyebeam, MTV Networks, Yahoo!, Ogilvy, and the American Museum of Natural History.

  %p He speaks about startups and technology at events like the <a href="http://futureofwebdesign.com/new-york-2011/speakers/#jonathanpberger">Future of Web Design</a>,<a href='http://www.web2expo.com/webexny2010/public/schedule/speaker/72236'> O'Reilly's Web 2.0 Expo</a>, <a href="http://www.meetup.com/ny-tech/events/12976148/">New York Tech Meetup</a>, <a href="http://www.meetup.com/fashion20/events/12126247/">Fashion 2.0 Startup Showcase</a>, <a href="http://nyc.startupweekend.org/2010/09/15/wrap-up/">Startup Weekend</a>, North Brooklyn Breakfast Club, The Product Group, and others.

  %p He makes it a point of honor to include Comic Sans in every design project.

  %p <a href="/">« Back</a>
