.code-management
  %h1 Code Management for Designers

  .links
    %h2 The Links Slide:
    %dl
      %dt GitX, the Mac git GUI at 
      %dd <a href="http://gitx.frim.nl/">http://gitx.frim.nl/</a>

      %dt My preferred "Brother Bard" Gitx branch at 
      %dd <a href="https://github.com/brotherbard/gitx/downloads">https://github.com/brotherbard/gitx/downloads</a>

      %dt Install git using Brew 
      %dd <a href="http://mxcl.github.com/homebrew/">http://mxcl.github.com/homebrew/</a>
      
      %dt Practice git basics with 
      %dd <a href="http://gitimmersion.com/">http://gitimmersion.com/</a>
      
      %dt Set up a Github account at 
      %dd <a href="http://help.github.com/mac-set-up-git/">http://help.github.com/mac-set-up-git/</a>
      
      %dt Set up a Heroku account at 
      %dd <a href="http://devcenter.heroku.com/articles/quickstart">http://devcenter.heroku.com/articles/quickstart</a>
      
      %dt Use the Heroku Gem to make life easier at 
      %dd <a href="https://github.com/heroku/heroku">https://github.com/heroku/heroku</a>

  .presentation
    <a href="code_management/deck.html">See the presentation</a>
