%h1 Code Management for Designers

.links
  %h2 The Links Slide:
    %ul
      %li GitX, the Mac git GUI at <a href="http://gitx.frim.nl/">http://gitx.frim.nl/</a>
      %li My preferred "Brother Bard" Gitx branch at <a href="https://github.com/brotherbard/gitx/downloads">https://github.com/brotherbard/gitx/downloads</a>
      %li Install git using Brew <a href="http://mxcl.github.com/homebrew/">http://mxcl.github.com/homebrew/</a>
      %li Practice git basics with <a href="http://gitimmersion.com/">http://gitimmersion.com/</a>
      %li Set up a Github account at <a href="http://help.github.com/mac-set-up-git/">http://help.github.com/mac-set-up-git/</a>
      %li Set up a Heroku account at <a href="http://devcenter.heroku.com/articles/quickstart">http://devcenter.heroku.com/articles/quickstart</a>
      %li Use the Heroku Gem to make life easier at <a href="https://github.com/heroku/heroku">https://github.com/heroku/heroku</a>

.presentation
  <a href="#">See the presentation</a>
