- @title = "jonathanpberger.com"
#home
  .col#my-name
    %h1 My name is Jonathan Berger
    %p and I'm interested in people and technology and how they relate to each other. Occasionally I'll <a href="/blog">blog</a> or <a href="/talks">speak in public</a>, or <a href="http://www.thisisproductmanagement.com/episodes/designing-for-agile-is-product-management">appear on podcasts</a>.

  .col#design-and-build
    %h1 I design & build apps & teams
    %p mostly for web and mobile. My passion product for the last few years has been <a href="http://pivotallabs.com/finding-pivotal-designer-edition/">bringing agile techniques to design</a>.

  .col#events
    %h1 I help organize events
    %p like <a href="http://www.balancedteam.org/2014/02/25/btnyc2014/">Balanced Team</a>, the <a href="http://www.meetup.com/Agile-Experience-Design/">Agile Experience Design meetup</a>, the <a href ="http://www.meetup.com/Vassar-in-Tech/">VC in Tech meetup</a> and <a href="/events">others</a>, because I care about building a strong technology community.

  .col#contact
    %h1 I&rsquo;d love to hear from you!
    %p <a href="mailto:jonathanpberger+public@gmail.com?subject=jpb.com-feedback">Email</a> is best, but you can also find me on <a href="https://github.com/jonathanpberger">github</a>, <a href="http://www.twitter.com/jonathanpberger">twitter</a>, <a href="http://www.linkedin.com/in/jonathanpberger">linkedin</a>, <a href="http://www.flickr.com/photos/jonathanpberger">flickr</a> and most other places as "jonathanpberger".
