#home
  .col
    %h1 My name is jonathanpberger
    %p and I'm interested in people and technology and how they relate to each other. Occasionally I'll <a href="http://www.jonathanpberger.com/wp">blog</a> about my thoughts.

  .col
    %h1 I design websites
    %p and my passion is the <a href="http://www.marketpublique.com">online vintage clothing company</a> I started with <a href="http://www.pamelacastillo.com">my wife Pamela</a> and our friend <a href="http://www.smarticle.com">Anthony</a>.

  .col
    %h1 I help organize events 
    %p like <a href="http://www.ignitenyc.org">IgniteNYC</a>, <a href="http://www.twitter.com/barcampnyc">Barcamp</a>, <a href="http://www.nyc.startupweekend.org/">Startup Weekend</a>, and <a href="http://www.fashioncamp.org/">Fashioncamp</a>, because I care about building a strong technology community.

  .col
    %h1 I&rsquo;d love to hear from you!
    %p <a href="mailto:jonathanpberger+public@gmail.com?subject=jpb.com-feedback">Email</a> is best, but you can also find me on <a href="https://github.com/jonathanpberger">github</a>, <a href="http://www.twitter.com/jonathanpberger">twitter</a>, <a href="http://www.linkedin.com/in/jonathanpberger">linkedin</a>, <a href="http://www.flickr.com/photos/jonathanpberger">flickr</a> and lots of other places as "jonathanpberger".

#links
  <a href="/code_management">Code Management for Designers</a> from my Future of Web Design talk.
  <br />
  <a href="/agile-ux-illustrator/deck.html">Practicing UX in an Agile Environment Using Adobe Illustrator</a> from my Agile Experience Design Meetup talk.