!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title= @title
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/style.css'}
    %meta{:content => 'text/html; charset=utf-8', :'http-equiv' => 'Content-Type'}
    %meta{:name => "keywords", :content => "jonathanpberger, jonathan berger, web design, web development, code literacy, lean startup, lean ux, git, ruby, adobe illustrator, wireframes"}
    %meta{:name => "description", :content => "Jonathan Berger is a web designer and developer who loves people, technology, and the intersection of the two."}
    %meta{:name => "author", :content => "Jonathan Berger"}
    
  %body
    = yield
