%h1 Public Speaking

%h2 I've spoken about startups and technology at events like 

%ul
  %li the <a href="http://futureofwebdesign.com/new-york-2011/speakers/#jonathanpberger">Future of Web Design</a>,
  %li <a href='http://www.web2expo.com/webexny2010/public/schedule/speaker/72236'> O'Reilly's Web 2.0 Expo</a>, 
  %li <a href="http://www.meetup.com/ny-tech/events/12976148/">New York Tech Meetup</a>, 
  %li <a href="http://www.meetup.com/fashion20/events/12126247/">Fashion 2.0 Startup Showcase</a>, 
  %li <a href="http://nyc.startupweekend.org/2010/09/15/wrap-up/">Startup Weekend</a>, 
  %li North Brooklyn Breakfast Club, 
  %li The Product Group, 
  %li and others.

%h2 Selected slide decks

%ul
  %li <a href="/what-is-lean-ux/index.html">What Is Lean UX?</a> from the Lean UX Roundtable.
  %li <a href="/code_as_lit/index.html">Code Literacy for Lean Teams</a> from my AgileUX NYC talk. Video <a href='https://vimeo.com/37865844'>here</a>.
  %li <a href="/code_management">Code Management for Designers</a> from my Future of Web Design talk.
  %li <a href="/agile-ux-illustrator/deck.html">Practicing UX in an Agile Environment Using Adobe Illustrator</a> from my Agile Experience Design Meetup talk.
