- @title = "jonathanpberger | Talks + Decks"
.talks
  .third
    %h1 Public Speaking

    %h2 I've spoken about startups and technology at events like

    #events
      <a href="http://agilealliance.org/">Agile Alliance's Agile Conference</a>,
      <a href="http://www.meetup.com/Agile-Experience-Design/">Agile Experience Design meetup</a>,
      <a href="http://agileuxnyc.com/">AgileUX NYC Conference</a>,
      <a href="http://www.asburyagile.com/">Asbury Agile</a>,
      <a href="http://www.meetup.com/fashion20/events/12126247/">Fashion 2.0 Startup Showcase</a>,
      <a href="http://futureofwebdesign.com/london-2012/schedule#code-literacy-for-designers-session">Future of Web Design (London)</a>,
      <a href="http://futureofwebdesign.com/new-york-2011/speakers/#jonathanpberger">Future of Web Design (New York)</a>,
      <a href="http://leanstartup.co/">the Lean Startup Conference</a>,
      <a href="https://www.leanstartupmachine.com/">Lean Startup Machine (judge)</a>,
      <a href="http://leanuxnyc.co/">Lean UX NYC Conference</a>,
      <a href="http://www.meetup.com/Lean-UX-London/">Lean UX London</a>,
      <a href="http://www.meetup.com/ny-tech/events/12976148/">New York Tech Meetup</a>,
      <a href="http://www.meetup.com/North-Brooklyn-Breakfast-Club/">North Brooklyn Breakfast Club</a>,
      <a href="http://www.nyu.edu/about/university-initiatives/entrepreneurship-at-nyu/accelerate/nyu-summer-launchpad.html">NYU Entrepreneurship Accelerator</a>,
      <a href="http://www.web2expo.com/webexny2010/public/schedule/speaker/72236">O'Reilly's Web 2.0 Expo</a>,
      <a href="http://www.meetup.com/TheProductGroup/">The Product Group</a>,
      <a href="http://nyc.startupweekend.org/2010/09/15/wrap-up/">Startup Weekend</a>,

      and others.

  .third
    %h2 Selected slide decks
    Pro tip: these decks look best when viewed in Chrome using View > Enter Presentation Mode. Navigate using arrow keys. Decks were mostly built using <a href="https://github.com/nakajima/slidedown">Slidedown</a> and <a href="https://github.com/egonSchiele/mdpress">MDPress</a> and lately, <a href="remarkjs.com">remark</a>.

    %ul#decks
      %li#vc-will-save-your-life <a href="http://jonathanpberger.github.io/vc-will-save-your-life">Version Control Will Save Your (Product Design & UX) Life</a> from <a href="http://agile2016.agilealliance.org/" target=blank>Agile Alliance 2016</a> in Atlanta, GA.
      %li#design-testing-pairing <a href="http://jonathanpberger.github.io/design-testing-pairing/">Towards A Theory & Methodology Of Test-Driven Design (Now With 100% More Pair-design!!)</a> from <a href="http://agile2015.agilealliance.org/" target=blank>Agile Alliance 2015</a> in Washington, DC.
      %li#design-thinking-is-for-you <a href="http://www.slideshare.net/arifont/design-thinking-is-for-you-a-conversation-with-jeff-patton-and-jonathan-berger-saturn-2015">Design Thinking is for You</a> with Ari Font-Lijos and Jeff Patton from <a href="http://saturn2015.sched.org/event/7a9402a630c05467801694aa580c8cca" target=blank> at the Carnegie Mellon University Software Engineering Institute SATURN 2015 conference</a> in Baltimore, MD. Video <a href="https://www.youtube.com/watch?v=i82lh8JPo7k">here</a>.
      %li#design-testing-leanux Version 2 of <a href="http://jonathanpberger.github.io/design-testing-leanux">Towards a Theory & Methodology of Test-Driven Design</a> from <a href="http://brooklyn.leanuxnyc.co/" target=blank>LeanUX NYC 2015</a> in my hometown of Brooklyn, NY.
      %li#mce <a href="http://jonathanpberger.github.io/design-testing">Towards a Theory & Methodology of Test-Driven Design</a> from <a href="http://mceconf.com" target=blank>Moblile Central Europe</a>, Warsaw, Poland, 2015. Video <a href="https://www.youtube.com/watch?v=1nRyiG0V7eg">here</a>.
      %li#pair-design <a href="http://jonathanpberger.github.io/presentation_pair_design-asbury-agile/#/step-1">Pair Design for Fun and Profit</a>, from the <a href="http://www.asburyagile.com/">Agile Asbury 2014 conference</a>.
      %li#subjective-objective-design <a href="http://jonathanpberger.github.io/subjective-objective-design/#/step-1">Subjective Design and Objective Design</a>, from the <a href="http://leanuxnyc.co/nyc/">LeanUX NYC 2014 conference</a>.
      %li#sustainable-pace-balanced-team <a href="http://jonathanpberger.github.io/jpb-balconf2013-talk/#/step-1">Sustainable Pace, Agile, and the Big Design Refactor</a>, from the <a href="http://www.balancedteam.org/balancedteamsf2013">Balanced Team 2013 conference</a>. Video <a href="https://vimeo.com/85274539">here</a>, <a href="http://intelleto.com/">Kate Rutter's</a> wonderful SketchNotes <a href="https://www.flickr.com/photos/intelleto/10810031973/in/set-72157637574167916">here</a>.
      %li#code-literacy-for-non-programmers <a href="http://bit.ly/codelitfornonprogrammers">Code Literacy for Non-Programmers</a>, from the <a href="http://agile2013.agilealliance.org">Agile 2013 conference</a>.
      %li#sustainable-pace-agile-big-design-refactor <a href="http://jonathanpberger.github.io/lean-ux-sustain/#/step-1">Sustainable Pace, Agile, and the Big Design Refactor</a>, from the <a href="http://leanuxnyc.co">Lean UX NYC 2013 conference</a>. You can also read the blog version of the <a href="http://pivotallabs.com/big-design-refactor/">Big Design Refactor</a>.
      %li#designers-should-adopt-sustainable-pace <a href="http://jonathanpberger.github.io/delux-sustain-talk/#1">Designers Should Adopt Sustainable Pace</a>, from <a href="http://bit.ly/delux2013">deLUX SXSWi 2013</a>, the Lean User Experience party at SxSW.
      %li#code-literacy-for-non-technical-founders <a href="/code-as-lit-for-nontech-founders1/slides/index.html">Code Literacy for Non-Technical Founders</a>, from the <a href="http://www.vcsquared.org">Vassar College Venture Co-op</a>.
      %li#spike-driven-design <a href="/sdd-talk1/slides/index.html">Spike Driven Development</a>, from the <a href="http://www.meetup.com/Agile-Experience-Design/events/86054072/">NYC Compass & SASS Meetup</a> and <a href="http://www.meetup.com/NYC-rb/events/89526252/">RubyConf East</a>. A longer explanation in blog form <a href='http://pivotallabs.com/users/jonathanpberger/blog/articles/2349-spike-driven-design'>here</a>.
      %li#method-design <a href="/method_design_talk/slides/index.html">7 Tips for Practicing UX Design that I Learned from Agile Development</a> at <a href="http://pivotallabs.com/tips-for-agile-design-talk-at-method-design/">Method Design</a>.
      %li#code-literacy-for-designers <a href="/code_as_lit_for_designers/index.html">Code Literacy for Designers</a> from the <a href="http://futureofwebdesign.com/london-2012/">Future of Web Design, London 2012</a>.
      %li#what-is-lean-ux <a href="/what-is-lean-ux/index.html">What Is Lean UX?</a> from the Lean UX Roundtable.
      %li#code-literacy-for-lean-teams <a href="http://jonathanpberger.github.io/code-as-lit-for-lean-teams-agileux2012/#0">Code Literacy for Lean Teams</a> from my <a href="http://agileuxnyc.com/">AgileUX NYC</a> talk. Video <a href='https://vimeo.com/37865844'>here</a>.
      %li#code-management-for-designers <a href="/code_management">Code Management for Designers</a> from my Future of Web Design talk.
      %li#agile-ux-with-illustrator <a href="/agile-ux-illustrator/deck.html">Practicing UX in an Agile Environment Using Adobe Illustrator</a> from my Agile Experience Design Meetup talk.
      %li#balanced-team <a href="/balanced-team1/index.html">7 Tips for Practicing UX in an Agile Environment</a> from my Balanced Team Conference 2011 talk.

  .third
    %h2#quotes Things people say

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> my favourite presentation so far, thank you! <a href="https://twitter.com/hashtag/mceconf?src=hash">#mceconf</a></p>&mdash; Kamila Wojciechowska (@kamelury) <a href="https://twitter.com/kamelury/status/563347388618649601">February 5, 2015</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/kb2bkb">@kb2bkb</a> <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> really enjoyed this talk, I think it would be exceptionally valuable at my office for the design team.</p>&mdash; Carl Nelson (@CarlNelson) <a href="https://twitter.com/CarlNelson/status/588444280382824448">April 15, 2015</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>I just heard the simplest and most compelling case for test driven development from a designer (<a href="https://twitter.com/jonathanpberger">@jonathanpberger</a>). <a href="https://twitter.com/hashtag/LeanUX15?src=hash">#LeanUX15</a></p>&mdash; Scott Buchanan (@thescottsb) <a href="https://twitter.com/thescottsb/status/588417954401951744">April 15, 2015</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>Really enjoying <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> and his frank, practical discussion on design. <a href="https://twitter.com/hashtag/LeanUX14?src=hash">#LeanUX14</a></p>&mdash; Tonya McCarley (@tmccarley) <a href="https://twitter.com/tmccarley/status/454736381022326784">April 11, 2014</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>Loving a super coherent, balanced, positive talk from <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> <a href="https://twitter.com/hashtag/LeanUX14?src=hash">#LeanUX14</a></p>&mdash; Spencer Turner (@spencerturner) <a href="https://twitter.com/spencerturner/status/454736269730660354">April 11, 2014</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>Refreshing perspective: The objectivity of testable UI design versus the subjectivity of branding. <a href="https://twitter.com/hashtag/LeanUX14?src=hash">#LeanUX14</a> <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a></p>&mdash; Chris Alvarez (@longlivetheux) <a href="https://twitter.com/longlivetheux/status/454735253756993537">April 11, 2014</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> we really enjoyed your talk! Even forgot the fact that we were half freezing to death at <a href="https://twitter.com/hashtag/agile2013?src=hash">#agile2013</a> <a href="https://twitter.com/loreigh">@loreigh</a></p>&mdash; みどり春丽 (@MidoriChunLi) <a href="https://twitter.com/MidoriChunLi/status/364773589129506818">August 6, 2013</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> 1of d best talks of the day. As a software engineer who cares about ux n design,know what it means. <a href="https://twitter.com/hashtag/brilliant?src=hash">#brilliant</a> <a href="https://twitter.com/hashtag/LeanUXNYC?src=hash">#LeanUXNYC</a></p>&mdash; Amrita Aviyente (@amrita_ux) <a href="https://twitter.com/amrita_ux/status/322465358101479425">April 11, 2013</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>Word!! RT <a href="https://twitter.com/Jaredac">@Jaredac</a>: @johnathanpberger That was the lean / agile design talk I&#39;ve been waiting for for 5 years. <a href="https://twitter.com/hashtag/leanuxnyc?src=hash">#leanuxnyc</a></p>&mdash; Matias Seijas (@mattiseijas) <a href="https://twitter.com/mattiseijas/status/322464280844832768">April 11, 2013</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>What a great talk from <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> at <a href="https://twitter.com/hashtag/agileuxnyc?src=hash">#agileuxnyc</a>. Inspiring report on an ongoing a learning journey.</p>&mdash; Josh Seiden (@jseiden) <a href="https://twitter.com/jseiden/status/173498431975849984">February 25, 2012</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>RT <a href="https://twitter.com/GeoffBrown">@geoffbrown</a>: Couldn&#39;t agree more with <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> on the fundamentals of code literacy requirements for designers. <a href="https://twitter.com/hashtag/AgileUXNYC?src=hash">#AgileUXNYC</a></p>&mdash; David Gowrie (@luispunchy) <a href="https://twitter.com/luispunchy/status/173498203675701251">February 25, 2012</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> great talk, hilarious!</p>&mdash; LaiYee Lori (@LaiYeeLori) <a href="https://twitter.com/LaiYeeLori/status/173497414328647682">February 25, 2012</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>RT <a href="https://twitter.com/todd_coleman">@todd_coleman</a>: .<a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> is killing this presentation. Reminds me of how I started learning code. Really great stuff. <a href="https://twitter.com/hashtag/agileuxnyc?src=hash">#agileuxnyc</a></p>&mdash; lane halley (@thinknow) <a href="https://twitter.com/thinknow/status/173496791524835329">February 25, 2012</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>Yes! <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> demos live mocks and the Chrome inspector using his own slides <a href="https://twitter.com/hashtag/agileuxnyc?src=hash">#agileuxnyc</a> <a href="http://t.co/gPn4Yj0d">pic.twitter.com/gPn4Yj0d</a></p>&mdash; Alec Perkins (@alecperkins) <a href="https://twitter.com/alecperkins/status/173496532799201280">February 25, 2012</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>My favorite so far: <a href="http://t.co/ShNLsif2">http://t.co/ShNLsif2</a> <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> great personal stories! <a href="https://twitter.com/AgileUXNYC">@agileuxnyc</a></p>&mdash; lane halley (@thinknow) <a href="https://twitter.com/thinknow/status/173494748638752769">February 25, 2012</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>Great talk by <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> on code literacy for designers at <a href="https://twitter.com/hashtag/agileuxnyc?src=hash">#agileuxnyc</a></p>&mdash; Tom Hughes (@tomhuze) <a href="https://twitter.com/tomhuze/status/173494699431165952">February 25, 2012</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>Conflicted abt &quot;Code Literacy&quot; session. <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> has some epic/controversial one liners. Nevertheless, I am entertained. <a href="https://twitter.com/hashtag/agileuxnyc?src=hash">#agileuxnyc</a></p>&mdash; Susan (@smoozle) <a href="https://twitter.com/smoozle/status/173493435817410560">February 25, 2012</a></blockquote>
    <blockquote class="twitter-tweet" lang="en"><p>Awesome talk on the importance of code literacy and designer sustainability from <a href="https://twitter.com/jonathanpberger">@jonathanpberger</a> <a href="https://twitter.com/hashtag/agileuxnyc?src=hash">#agileuxnyc</a> <a href="http://t.co/WNtgCxaO">pic.twitter.com/WNtgCxaO</a></p>&mdash; Tami Evnin (@tamiiiiiiiiiiii) <a href="https://twitter.com/tamiiiiiiiiiiii/status/173492536688644096">February 25, 2012</a></blockquote>


    #video
    %h2#videos Selected Videos

    <iframe title="vimeo-player" src="https://player.vimeo.com/video/155024917?h=e0b920bd68" width="640" height="360" frameborder="0" allowfullscreen></iframe><p>Towards a Theory & Methodology of Test-Driven Design from the <a href="http://www.sei.cmu.edu/saturn/2015/index.cfm">Agile Alliance 2015 conference.</a></p>
        
    <iframe width="560" height="315" src="https://www.youtube.com/embed/i82lh8JPo7k" frameborder="0" allowfullscreen></iframe><p>Design Thinking is for You with Ari Font Lijos and Jeff Patton from the Carnegie Mellon Software Engineering Institute <a href="http://www.sei.cmu.edu/saturn/2015/index.cfm">SATURN 2015 conference.</a></p>

    <iframe src="https://player.vimeo.com/video/129304423" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/129304423">A Theory &amp; Methodology Of Test-Driven Design - Jonathan Berger</a> from <a href="https://vimeo.com/semanticwill">LeanUXNYC 2015</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

    <iframe width="500" height="281" src="https://www.youtube.com/embed/1nRyiG0V7eg" frameborder="0" allowfullscreen></iframe> <p><a href="https://www.youtube.com/watch?v=1nRyiG0V7eg">Towards a Theory and Methodology of Test-Driven Design</a> from <a href="https://www.youtube.com/channel/UCVmsyhkifdHTomiVlA11FgQ">Mobile Commons Europe</a> on <a href="https://youtube.com">YouTube</a>.</p>

    <iframe src="https://player.vimeo.com/video/85274539" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/85274539">Sustainable Pace, Agile, and The Big Design Refactor</a> from <a href="https://vimeo.com/user23682744">Balanced Team</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

    <iframe src="https://player.vimeo.com/video/37865844" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/37865844">Code Literacy for Lean Teams - Jonathan Berger</a> from <a href="https://vimeo.com/semanticwill">William Evans</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
