- @title = "jonathanpberger | Talks + Decks"
.talks
  %h1 Public Speaking

  %h2 I've spoken about startups and technology at events like

  %ul#talks
    %li <a href="http://futureofwebdesign.com/london-2012/schedule#code-literacy-for-designers-session">Future of Web Design, London</a>,
    %li <a href="http://agileuxnyc.com/">AgileUX NYC Conference</a>,
    %li <a href="http://futureofwebdesign.com/new-york-2011/speakers/#jonathanpberger">Future of Web Design, New York</a>,
    %li <a href="http://www.web2expo.com/webexny2010/public/schedule/speaker/72236"> O'Reilly's Web 2.0 Expo</a>,
    %li <a href="http://www.meetup.com/ny-tech/events/12976148/">New York Tech Meetup</a>,
    %li <a href="http://www.meetup.com/fashion20/events/12126247/">Fashion 2.0 Startup Showcase</a>,
    %li <a href="http://nyc.startupweekend.org/2010/09/15/wrap-up/">Startup Weekend</a>,
    %li North Brooklyn Breakfast Club,
    %li The Product Group,
    %li and others.

  %h2 Selected slide decks
  Pro tip: these decks look best when viewed in Chrome using View > Enter Presentation Mode. Navigate using arrow keys. Decks were mostly built using <a href="https://github.com/nakajima/slidedown">Slidedown</a> and <a href="https://github.com/egonSchiele/mdpress">MDPress</a>.

  %ul#decks
    %li#code-literacy-for-non-technical-founders <a href="/code-as-lit-for-nontech-founders1/slides/index.html">Code Literacy for Non-Technical Founders</a>, from the <a href="http://www.vcsquared.org">Vassar College Venture Co-op</a>.
    %li#spike-driven-design <a href="/sdd-talk1/slides/index.html">Spike Driven Development</a>, from the <a href="http://www.meetup.com/Agile-Experience-Design/events/86054072/">NYC Compass & SASS Meetup</a> and <a href="http://www.meetup.com/NYC-rb/events/89526252/">RubyConf East</a>. A longer explanation in blog form <a href='http://pivotallabs.com/users/jonathanpberger/blog/articles/2349-spike-driven-design'>here</a>.
    %li#method-design <a href="/method_design_talk/slides/index.html">7 Tips for Practicing UX Design that I Learned from Agile Development</a>
    %li#code-literacy-for-designers <a href="/code_as_lit_for_designers/index.html">Code Literacy for Designers</a> from the <a href="http://futureofwebdesign.com/london-2012/">Future of Web Design, London 2012</a>.
    %li#what-is-lean-ux <a href="/what-is-lean-ux/index.html">What Is Lean UX?</a> from the Lean UX Roundtable.
    %li#code-literacy-for-lean-teams <a href="/code_as_lit/index.html">Code Literacy for Lean Teams</a> from my <a href="http://agileuxnyc.com/">AgileUX NYC</a> talk. Video <a href='https://vimeo.com/37865844'>here</a>.
    %li#code-management-for-designers <a href="/code_management">Code Management for Designers</a> from my Future of Web Design talk.
    %li#agile-ux-with-illustrator <a href="/agile-ux-illustrator/deck.html">Practicing UX in an Agile Environment Using Adobe Illustrator</a> from my Agile Experience Design Meetup talk.
    %li#balanced-team <a href="/balanced-team1/index.html">7 Tips for Practicing UX in an Agile Environment</a> from my Balanced Team Conference 2011 talk.
