body #home {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  line-height: 1em; 
  background-color: #fefefe;
  color:rgba(3, 4, 5, 0.75)
  }
  
#home h1 {
  font-weight:normal; 
  text-shadow:0 0 15px #AAB2C0; 
  font-size:1.2em; 
  border-bottom: 3px double; 
  padding-bottom: 25px;
}

p {
  font-weight:normal; 
  font-size: 0.6em; 
  line-height: 1.5em;
}

#home a {
  font-weight:bold; 
  text-decoration: none; 
  color: inherit;
}

a:hover {
  font-weight:bold; 
  text-decoration: none; 
  text-shadow: 0 0 35px #yellow
}

.left {
  float: left;
}

#home div.col {
  display:block; 
  width: 260px; 
  margin: 5px; 
  padding: 0 20px; 
  float: left;
}

.code-management {
  line-height: 28px;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; 
}

dl {
  margin-left: 25px;
  
}

dt {
  float: left;
  margin-right: 25px;
  width: 425px;
}

dt {
  float: left;
  clear: right;
}

a {
  font-weight: bold;
  text-decoration: none; 
  border-bottom: 1px solid #ccc;
  color: inherit;
}
