/* Custom CSS for your KeyDown presentation here */

body {
  font: 24px "Helvetica", "Helvetica Neue", "Arial", sans-serif;

}

h1 {
  font-size: 1.25em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}