<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="jonathanpberger, jonathan berger, web design, web development, code literacy, lean startup, lean ux, git, ruby, adobe illustrator, wireframes, agile, design thinking, agile experienc design">
    <meta name="description" content="Jonathan Berger is a product designer and developer who loves people, technology, and the intersection of the two.">
    <meta name="author" content="Jonathan Berger">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Merriweather:wght@300&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@200;800;900&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

    <!-- This website design has been basically untouched since 2011.  -->
  </head>
  <body>
    {{ content }}
  </body>
</html>
