@font-face {
    font-family: "Ars";
  src: url('../fonts/ARSMaquette-Black.otf');
    font-weight: bold;
}

@font-face {
    font-family: "Ars";
    src: url('../fonts/ARSMaquette-Regular.otf');
}

@font-face {
    font-family: "Ars";
    src:      url('../fonts/ARSMaquette-RegularItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: "Ars";
    src: url('../fonts/ARSMaquette-BlackItalic.otf');
    font-weight: bold;
    font-style: italic;
}

body,
body .remark-slide-content {
  font-family: 'Ars', 'Open Sans', sans-serif;
  background: #fdf6e3; 
  color: #657b83;
}

body .remark-slide-content.inverse,
body .remark-slide-content.inverse h1 {
  background: #268bd2;
  color: #fdf6e3 !important;
  text-shadow: 0 0 20px #93a1a1;
}

body .remark-slide-content h1,
h1,
p strong em
 {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #268bd2;
  font-style: normal;
  line-height: 0.8em;
  font-size: 5em;
}

body .remark-slide-content h2,
strong,
h2 {
  font-weight: 900;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b58900;
  line-height: 0.9em;
  margin: 0 0 0.5em 0;
}

body .remark-slide-content h3,
em,
h3 {
  font-weight: 900;
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: rgb(109, 153, 211);
}

body .remark-slide-content h3 {
  font-weight: normal;
  font-style: italic;
  color: #dc322f;
}
  
body .remark-slide-content li > strong,
body .remark-slide-content li > p > strong {
  font-weight: bold;
  font-family: 'Ars', 'Open Sans', sans-serif;
  color: rgb(93, 92, 92);
}

body .remark-slide-content li > em,
body .remark-slide-content li > p > em {
  font-style: italic;
  font-family: 'Ars', 'Open Sans', sans-serif;
  color: rgb(93, 92, 92);
}


.light {
  font-weight: 300;
  letter-spacing: .1em;
}

body .remark-slide-content blockquote {
  text-align: justify;
  font-weight: 300;
  font-style: italic;
  /* line-height: 1.4; */
  /* margin: 20px 0; */
  /* padding: 10px 0; */
  /* border-top: 1px solid #aaa; */
  /* border-bottom: 1px solid #aaa; */
  /* width: 1060px; */
}

table {
  /* width:100%; */
}

a {
  color: inherit;
  text-decoration: none;
  font-weight:bold;
}

a:hover {
  text-decoration: underline;
}

ul {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

/* ********************* extra solarized colors   */

.extra-solarized-colors
  color: #93a1a1;
  color: #859900;
  color: #268bd2;
  color: #b58900;
  color: #cb4b16;
  color: #2aa198;
}


