@font-face {
    font-family: "Ars";
  src: url('../fonts/ARSMaquette-Black.otf');
    font-weight: bold;
}

@font-face {
    font-family: "Ars";
    src: url('../fonts/ARSMaquette-Regular.otf');
}

@font-face {
    font-family: "Ars";
    src:      url('../fonts/ARSMaquette-RegularItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: "Ars";
    src:      url('../fonts/ARSMaquette-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: "Ars";
    src: url('../fonts/ARSMaquette-BlackItalic.otf');
    font-weight: bold;
    font-style: italic;
}


/* ###### Helvetica Styles */

body { 
  font-family: 'Helvetica';
  font-family: 'Ars';
}

h1, h2, h3, .f1, .f2, .f3 {
  font-family: 'Helvetica';
  font-family: 'Ars';
  font-weight: bold;
}

.f1,
body .remark-slide-content h1 {
  font-size: 4em;
  line-height: 0.9em;
  text-transform: uppercase;
}

.f2 {
  font-size: 1.5em;
  text-transform: initial;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  jo-webkit-margin-end: 0px;
}

.f3 {
  font-size: 1.17em;
  text-transform: initial;
}

body .remark-slide-content p,
body .remark-slide-content li {
  font-size: 1.5em;
  margin: 0 0.2em;
}

body. .remark-slide-content .longlist li {
  font-size: 1em;
}

body .remark-slide-content blockquote {
  padding-left: 2em;
  border-left: 10px solid #ccc;
  margin-left: 0;
}
body .remark-slide-content blockquote p {
  font-style: italic;
  font-family: courier;
  font-size: 1.5em;
  
}

body .remark-slide-content p a {
  font-weight: 500;
}

body .remark-slide-content strong {
  font-weight: 500;
}

body .remark-slide-content a:hover {
  text-decoration: underline;
}

body .remark-slide-content a,
body .remark-slide-content a:visited {
  color: #000;
  text-decoration: none;
}
