/****************** Footer ****************/
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900);
.remark-slide-footer {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  background-color: #222;
  color: #fcfcfc;
  width: 100%;
  margin: -1em -4em; /*counteract padding on top element */
  height: 4em;
  line-height: 4em;
}

.footer a,
.footer a:visited {
  text-decoration: none;
  color: #fcfcfc;
}

.remark-slide-footer .logo {
  position: absolute;
  left: 1em;
  
}
.remark-slide-footer .twitter {
  position: absolute;
  left: 44%;
  line-height: 3em;
  
}
.remark-slide-footer .hashtag {
  position: absolute;
  right: 1em;
  line-height: 3em;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-half h2:last-of-type, 
.left-half h3:last-child, 
.left-column h2:last-of-type, 
.left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 70%;
  float: right;
}

.left-half {
  width: 50%;
  height: 92%;
  float: left;
}

.right-half {
  width: 50%;
  float: right;
}


/* Three-column layout */

.left-half h2:last-of-type, 
.left-half h3:last-child, 
.left-column h2:last-of-type, 
.left-column h3:last-child {
  color: #000;
}


.left-third,
.middle-third {
  width: 34%;
  height: 92%;
  float: left;
}

.right-third {
  width: 32%;
  float: right;
}

#slide-dev-pyramid table {
  border-spacing: 3em 0;
}

#slide-design-pyramid table {
  border-spacing: 0.4em 0.1em;
}
th {
  text-align: left;
}
