/****************** utility ****************/
.small * {
  font-size: small !important;
}
.smaller * {
  font-size: smaller !important;
}
code {
  border-radius: 5px;
}
.inverse {
  background: #222;
  color: white;
  text-shadow: 0 0 20px #333;
}

.inverse .f1,
.inverse .f2,
.inverse h1,
.inverse h2 {
  color: white;
  line-height: 0.8em;
}

.interlude {
  background: #222;
  color: white;
  text-shadow: 0 0 20px #333;
}

.interlude .f1, 
.interlude .f2, 
.interlude h1, 
.interlude h2 {
  color: #white;
  line-height: 0.8em;
}

.warning {
  background: #990000;
  color: #eee;
  text-shadow: 0 0 20px #aaa;
}
.warning h1,
.warning h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}



.footnote {
  position: absolute;
  font-size: small;
  bottom: 3em;
  right: 3em;
}
/* styling only necessary for displaying source */
#source {
  position: absolute;
  display: none;
  font-family: monospace;
  font-size: medium;
  background: #333333;
  color: white;
  padding: 10px;
  text-align: left;
  width: 65%;
  height: 70%;
  z-index: 1000;
}
#overlay {
  position: absolute;
  display: none;
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 999;
}


/* blockquote { */
  /* font-style: italic; */
  /* font-family: serif; */
  /* font-size: 1.3em; */
  /* border-left: 10px solid #aaa; */
  /* padding-left: 1em; */
  /* color: #777; */
/* } */

.de-em {
  opacity: 0.5;
}

.no-repeat {
  background-repeat: no-repeat;
}

.greenbg{
  background-color: #859900;
  color: white;
}
